@charset "utf-8";

/* ! .html のstyle */

main {
  clear: left;
  padding: 20px 25px;
  background-color: #fff;
}
  main section{
    border-bottom: 2px dashed #ffbd4f;
    margin-bottom: 15px;
  }
    main section h2{
      width: 100px;
      padding: 8px 6px 6px 6px;
      margin-bottom: 15px;
      font-size: 1.5rem;
      border: 1px #ffbd4f solid;
      border-left-width: 15px;
      border-right-color: #d1b282;
      border-bottom-color: #d1b282;
    }
    main section p{
      margin-bottom: 15px;
      padding-left: 21px;
      line-height: 1.6;
    }
    main section ul{
      margin-left: 60px;
      margin-bottom: 15px;
      list-style-image: url(../images/circle.gif);
    }
      main section ul li{
        margin-bottom: 10px;
      }
      main section table{
        margin: 0 auto;
        width: 600px;
        margin-bottom: 15px;
        border-collapse: separate;
        border-spacing: 5px;
      }
        main section table tr{}
          main section table tr td ,main section table tr th{
            padding: 5px;
            background-color: #fff0d6;
            vertical-align: middle;
            text-align: center;
          }
          main section table tr td.photo{            width: 300px;          }
          main section table tr td.cas_name{            width: 80px;          }
          main section table tr td img{
            vertical-align: bottom;
          }

  main section#nara{

  }
          main section#nara div table tr td.text{
  width: 550px;
            }
            main section#nara div table tr td.text p{
              padding: 3px;
            }
            main section#nara div table tr td.text p.name{
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 4px;
            }

            main section#nara div table tr td.text p.categories{
              color: #666;
              padding-bottom: 5px;
              line-height: 14px;
              font-size: 12px;
}
main section#nara div table tr td.text span.star{
  position: relative;
  width: 110px;
  height: 21px;
  display: block;
}

main section#nara div table tr td.text span.star span.starBk{
  position: absolute;
  background: url("../images/star.png") no-repeat 0 0;
  width: 110px;
  height: 21px;
  top: 0;
  left: 0;
  z-index: 5;
}
main section#nara div table tr td.text span.star span.starFore{
  position: absolute;
  background: url("../images/star.png") no-repeat 0 -22px;
  top: 0;
  left: 0;
  height: 21px;
  z-index: 10;
}
main section#nara div table tr td.text span.star span.4-3{
  width: 99px;
}

main section#nara div table tr td.text div.reviewText{
  background: url("../images/review_balloon.png") no-repeat 28px top;
  padding-top: 10px;
}
            main section#nara div table tr td.text div.reviewText p{
              background-color: #eee;
              border-radius: 5px;
              font-size: smaller;
              padding: 8px;
            }
            main section#nara div table tr td.text div.reviewText p span{
              color: #666;
              font-size: 10px;
              text-align: right;
            }
            main section#nara div table tr td.text p.desc{
              font-size: 11px;
              line-height: 16px;
              margin-top: 8px;
              text-align: justify;
            }




              main div.gotop{
    padding-top: 10px;
    font-size: .8rem;
    text-align: right;
  }
    main div.gotop a{
      text-decoration: none;
      color: #eb9c13;
    }
      main div.gotop a:hover{
        opacity: .5;
        text-decoration: underline;
      }

      main div.gotop a img{
        /* transform: translate(-100%); */
        /* position: relative; */
        /* left: -10%; */
      }
      /* !EOF */