@charset "utf-8";

/* 初期設定のリセット */
*{
  margin: 0;
  padding: 0;
}

body{
  text-align: left;
  line-height: 1;
  color: #000;
  background-color: #fff;
}

h1{
  margin: 20px 0;
  text-align: center;
}

section{
  width: 800px;
  margin: 0 auto;
  /*display: inline-block;*/
  background-color: #efefef;
}

h2{
  margin-bottom: 20px;
}

ul , ol , dl{
  margin-left: 50px;
  margin-bottom: 50px;
}

  ul li , ol li , dl dt , dl dd{
    line-height: 1.4rem;
  }

/*数字リスト*/
ol{}
ol li{}
figure{
  margin: -40px 0 10px 50px;
}
/* 定義リスト*/
dl{
  
}
  dl dt{
    background-color: #ddd;
  }
  dl dd{
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: #bbb;

  }
  ul ul{
    margin-bottom: 0;
  }